<% @newcom=Comment.new %>
<%= form_for [@post, @newcom], remote: true do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :post_id, :value => @post.id %>
<p>
  <%= f.text_area :body %>
  <%= f.submit 'commenter' %>
</p>

<%end%>
