<!DOCTYPE html>
<html>
  <head>
    <title>BlogGo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="sidebar">
      <ul>
        <li class="category"></li>
        <li>website</li>
        <li>about</li>
        <li>contact</li>
        <li>facebook</li>
      </ul>

      <% if user_signed_in? %>
      <p class="sign_in">
        Admin Login</p>
        <%end%>
    </div>
    <div id="navbar">
      <div id="header">
        <button  name="button"><% link_to "all posts",root%></button>
        <p>all posts</p>
        <% if user_signed_in? %>
        <div class="buttons">
          <button class="button"><%= link_to "New Post", new_post_path %></button>
          <button class="button">Log out</button>
        </div>
        <%end%>
      </div>

      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
